{% extends "base.html" %}
{% load static %}

{% block title %}
Confirm Booking
{% endblock %}

{% block content %}
<div class="w-50 mx-auto">


    <form method="post" enctype="multipart/form-data" class="form-control">
        <h4>Book Your Home</h4>
        {% csrf_token %}
        {% for field in form %}
        <div class="row my-3">
            <div class="col-sm-4"><label for="id_{{field.name}}">{{field.name.capitalize}}</label></div>
            <div class="col-sm-6">
                {{field}}
            </div>
        </div>
        {% endfor %}

        <button type="submit" class="btn btn-custom" style=" background-color: #132125; color:white;">
            Book Now
        </button>
    </form>

</div>
{% endblock %}