{% extends "base.html" %}
{% load static %}

{% block title %}
{{ item.car.name }} Rent Cart
{% endblock %}

{% block content %}
<div class="book-succ">
    <p class="text-center boo-p"> <b>Booking history</b></p>
    <!-- <br><br><br> -->
    
        <table class="table-succ">
            <thead class="text-warning">
                <th>Sl.no</th>
                <th>Name</th>
                <th>building</th>
                <th>Adavance Amount</th>
                <th>Total Amount</th>
                <th colspan="2">Booking Date</th>
                <th>Status</th>
                
            </thead>
            <tbody>
                {% for booking in bookings %}
                <tr >
                    <td>{{booking.id}}</td>
                    <td>{{booking.user.username}}</td>
                    <td>{{booking.building.name}}</td>
                    <td>{{booking.advance_amount}}</td>
                    <td>{{booking.total_amount}}</td>
                    <td>{{booking.booking_date}}</td>
                    <td>{{booking.status}}</td>
                    <td>
                        {% if booking.status == 'pending' %}
                            <a href="" class="text-decoration-none text-white btn btn-danger my-2 "><b>Pay now</b></a>
                        {% endif %}
                    </td>
                    <td>{{booking.created_at}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
</div>
{% endblock %}