{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block content %}
<div class="row">


<div class="col-5 mx-auto">
    <form method="post" enctype="multipart/form-data" class="form-control">
        <h2 class="card-title">
            Add Pictures for the Building
        </h2>
        {% csrf_token %}
        {% for field in form %}
        <div class="row my-3">
            <div class="col-sm-3">
                <label for="{{field.name}}">{{field.name.capitalize}}</label>
            </div>
            <div class="col-sm-6">
                {{field}}
            </div>
        </div>



        {% endfor %}
        <button type="submit" class="btn btn-secondary">Add Image</button>
    </form>


</div>
</div>


{% endblock %}