{% extends 'base.html' %}


{% block title %}
{{building.name}}
{% endblock %}

{% block content %}
<div class="container-fluid" id="building-details">
    <div class="row">
        <div class="col">
            <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">

                    {% for image in images %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{image.img.url}}" class="d-block w-80" alt="...">
                        <div class="carousel-caption d-none d-md-block" id="caption">
                            <h5>{{image.title.capitalize}}</h5>

                        </div>
                    </div>
                    {% endfor %}

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col">
            <h2>
                {{building.name.capitalize}}
            </h2>
            <p>
                Rs.{{building.rent_price}}
            </p>


            <div class="row">
                <a href="{% url 'add_pictures' building.pk %}" class="col-sm-4 btn btn-secondary">Add Pictures</a>
                <a href="" class="col-sm-4 btn btn-primary mx-auto">Book</a>
                <a href="{% url 'updatebuilding' building.pk %}" class="col-sm-4 btn btn-warning">Update</a>
                <a href="{% url 'deletebuilding' building.pk %}" class="col-sm-4 btn btn-danger">Delete</a>
                

            </div>

        </div>

    </div>


</div>


{% endblock %}