{% load static %}
<nav class="navbar navbar-expand-lg  fixed-top top-0 w-100  navbar-dark" data-bs-theme='dark'>
    <div class="container-fluid div_class ">
        <a class="navbar-brand" href="{% url 'homepage' %}"> <strong class="text-light">Easystay</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <form class="d-flex w-50 h-100" role="search" method="get" action="{% url 'search_buildings' %}">
            <input class="form-control me-2 border-light" type="search" placeholder="Find Your Dream Stay"
                aria-label="Search" name="q" value="{{query}}">
            <button class=" btn btn-outline-light " type=" submit"> <strong>Search</strong></button>
        </form>
        <div>


            <div class="collapse navbar-collapse div_col" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
                    <li class="nav-item">
                        <!-- <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}"><strong
                                class="text-light">Home</strong></a> -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'aboutpage' %}"><strong
                                class="text-light">About</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'addbuilding' %}"><strong
                                class="text-light">Add <i class="bi bi-house-add" href="{% url 'addbuilding' %}" ></i></strong></a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">

                            {% if user.is_authenticated %}
                            <strong class="text-info">{{user.username.capitalize}}</strong>
                            {% else %}
                            <strong class="text-light">Accounts</strong>
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu">
                            {% if not user.is_authenticated %}
                            <li><a class="dropdown-item" href="{% url 'signin' %}">Log In</a></li>
                            <li><a class="dropdown-item" href="{% url 'signup' %}">Register</a></li>
                            {% else %}
                            <li>
                                <form action="{% url 'logout' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="dropdown-item">Logout</button>
                                </form>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'bookings' %}">My bookings</a></li>

                            {% endif %}
                        </ul>
                    </li>

                </ul>

            </div>
        </div>
    </div>
</nav>