{% extends 'base.html' %}
{% load static %}
{% block title %}
Login
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-80 ">
    <div class="card shadow p-4 m-5 bg-dark">
        <h2 class="mb-4 text-center text-white">
            Log in
        </h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
                <label for="{{field.id_for_label}}" class="form-label text-white">{{field.label}}</label>
                {{field}} <!-- This renders out to become input field -->

                {% if field.errors %}
                <div class="text-danger small">
                    {{field.errors | striptags }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            <button class="btn btn-white center w-100 bg-white" type="submit">Log in</button>
        </form>
        <span class="text-white py-2"> New here? <a href="{% url 'signup' %}" class="text-decoration-none">Signup here !!!</a></span>
        <span><a href="{% url 'send-otp' %}" class="text-decoration-none">Forgot password?</a></span>
    </div>

</div>
{% endblock %}